@import "tailwindcss";

@theme {
  --color-cyber-blue: #38bdf8;
  --color-dark-bg: #020617;
  --color-card-bg: #0f172a;
  --shadow-glow: 0 0 20px rgba(56, 189, 248, 0.4);
}

/* Ensure the background stays dark across the whole site */
body {
  background-color: var(--color-dark-bg);
  color: #cbd5e1;
  /* slate-300 */
}